<%= form_tag sessions_path, :class => "form-stacked" do %>
<fieldset>
  <div class="clearfix"><%= label_tag :username %>
    <div class="input"><%= text_field_tag :username, params[:username] %></div>
  </div>
  <div class="clearfix"><%= label_tag :password %>
    <div><%= password_field_tag :password, nil %></div>
  </div>
  <div class="actions"><%= submit_tag "Log in", :class => "btn primary" %></div>
</fieldset>
<% end %>
