<div class="col-left">
<h2>Accounts</h2>
<table>
<% @bankaccounts.each do |account| %>
  <tr>
    <td><%= link_to account.name, child_account_path(account) %></td>
    <td><%= format_currency(account.balance, account.currency) %></td>
  </tr>

<% end %>
</table>
<%= link_to 'New Account', new_account_path %>
</div>

<div class="col-right">
<h2>Listing events</h2>
<table class="condensed-table">
  <thead>
  <tr>
    <th>Date</th>
    <th>Memo</th>
    <th>Transactions</th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
  <tr>
    <td><%= event.operation_date %></td>
    <td><%= event.memo %></td>
    <td><%= event.transactions.count %></td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>
