<%= form_for(@deposit) do |f| %>
  <% if @deposit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deposit.errors.count, "error") %> prohibited this deposit from being saved:</h2>

      <ul>
      <% @deposit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :payer %><br />
    <%= f.text_field :payer_name %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :operation_date %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :memo %><br />
    <%= f.text_field :memo %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= collection_select(:deposit, :category_id, Category.all, :id, :name)  %>
  </div>
  <div class="field">
    <%= f.label :account %><br />
    <%= collection_select(:deposit, :account_id, current_user.bankaccounts.all, :id, :name)  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
