<h1>Payment</h1>

<%= debug @payment %><br />

<%= debug @credit_transaction %><br />
<%= debug @debit_transaction %><br />

<%= debug @payee %><br />
<%= debug @from_account %><br />


Payee balance: <%= @payee.balance %>
