<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
  <div class="clearfix"><%= f.label :parent %>
	<div class="input"><%= f.collection_select :parent, Category.parents.all, :id, :name, :include_blank => true %></div>
  </div>
  <div class="clearfix"><%= f.label :name %>
	<div class="input"><%= f.text_field :name %></div>
  </div>
  <div class="clearfix"><%= f.label :description %>
	<div class="input"><%= f.text_field :description %></div>
  </div>
  <div class="actions">
    <%= f.submit "Save category", :class => "btn primary" %>
  </div>
</fieldset>
<% end %>
